.event {
  @include colunmFlex;
  gap: 30px;
  min-height: 75vh;

  @media screen and (max-width: 880px) {
    display: none;
  }

  .box-img {
    h4,
    p {
      font-size: 0.7rem;
    }
  }

  .event-board {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas:
      "c1 c3"
      "c2 c3";
    grid-gap: 10px;
    width: 60%;
    margin: 0 auto;

    .card-img {
      img {
        width: 30%;
      }
    }

    .card-content {
      @include colunmFlex;
      h3,
      h5.buyBtn {
        @include cardFont;
      }

      p.location {
        color: $colorW2;
        font-size: 0.7rem;
      }
    }

    .board-left {
      @include colunmFlex;
      gap: 10px;

      .card-left {
        .card-img {
          position: relative;
          background: $colorW1;
          display: flex;
          gap: 10px;

          .box-img {
            position: absolute;
            left: 10%;
            top: 30%;
            background: $colorB2;
            padding: 11px;
          }

          .card-content {
            padding: 25px 0;
            align-items: flex-start;
            gap: 8px;
          }
        }
      }
    }
  }

  .board-right {
    @include colunmFlex;
    background: url(../img/event-03.jpg) center/cover;
    .card-container {
      position: relative;
      @include colunmFlex;
      background: $colorW1;
      height: 80%;
      width: 90%;

      .box-img {
        position: absolute;
        background: $colorB2;
        padding: 7px;
        top: 0;
      }
      .card {
        .card-content {
          gap: 3px;

          h3 {
            width: 80%;
            line-height: 25px;
          }

          h5.buyBtn {
            position: absolute;
            bottom: 10%;
          }
        }
      }
    }
  }
}
