footer {
  margin-top: 150px;
  background: url(../img/bg-footer.jpg);

  .footer-content {
    display: grid;
    grid-template-columns: 63% 37%;
    padding: 50px 5px;

    @media screen and (max-width: 880px) {
      @include colunmFlex;
      min-height: 25vh;
    }

    .footer-left {
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 60%;
      margin: 0 auto;

      @media screen and (max-width: 880px) {
      display: none;
      }

      h2,
      p {
        text-align: left;
      }

      p {
        color: gray;
        line-height: 30px;
      }
    }
  }
  .footer-right {
    position: relative;

    @media screen and (max-width: 880px) {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    .newsletter {
      position: absolute;
      top: 10%;
      left: 10%;
      @include colunmFlex;
      align-items: flex-start;
      gap: 13px;

      @media screen and (max-width: 880px) {
          position: initial;
        }


      label {
        @include regFont;
        letter-spacing: 0;
        font-weight: 500;
        font-size: 1.1rem;
      }

      input[type="email"] {
        background: none;
        border: 1px $titleColor solid;
        padding: 8px 18px;
      }
    }
  }
  .footer-contact {
    position: absolute;
    align-items: center;
    bottom: 5%;
    left: 10%;
    display: flex;
    gap: 20px;

    @media screen and (max-width: 880px) {
      position: initial;
    }


    ul {
      display: flex;
      gap: 35px;

      li {
        transition: 0.2s;
        &:hover {
          color: $colorG;
          transform: scale(1.1);
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}
