$titleColor: rgb(153, 106, 67);
$colorW1: white;
$colorW2: rgb(238, 238, 238);
$colorB1: black;
$colorHover: lightcoral;
$colorB2: rgb(33, 32, 30);
$fontMenu: Allura;
$fontRegular1: Poppins;
$fontRegular2: Roboto;

@mixin flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin colunmFlex {
  @include flexContainer;
  flex-direction: column;
}

@mixin titleMenu {
  color: $titleColor;
  font-family: $fontMenu;
  font-size: 1.6rem;
}

@mixin regFont {
  color: $colorW1;
  font-family: $fontRegular1;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@mixin imgContainer {
  object-fit: cover;
  width: 100%;
}

@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}

body {
  color: $colorW1;
  text-align: center;
  margin: 0 auto;
  font-family: $fontRegular1;
  opacity: 1;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: $colorB1;
    top: 0;
    left: 0;
    animation: loadAnim 2s ease forwards;
    animation-delay: 0.3s;

    @keyframes loadAnim {
      to {
        opacity: 0;
      }
    }
  }
}

main {
  background: $colorB2;
  position: relative;
  z-index: -100;

  .bg-img {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -1;
    top: 20%;
    &:first-of-type {
      clip-path: polygon(0 30%, 100% 30%, 100% 75%, 0 75%);
      top: initial;
      bottom: 0;
    }
  }
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  @include titleMenu;
  text-align: center;
}
