@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
body {
  color: white;
  text-align: center;
  margin: 0 auto;
  font-family: Poppins;
  opacity: 1;
}
body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  top: 0;
  left: 0;
  -webkit-animation: loadAnim 2s ease forwards;
          animation: loadAnim 2s ease forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
@-webkit-keyframes loadAnim {
  to {
    opacity: 0;
  }
}
@keyframes loadAnim {
  to {
    opacity: 0;
  }
}

main {
  background: rgb(33, 32, 30);
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title {
  color: rgb(153, 106, 67);
  font-family: Allura;
  font-size: 1.6rem;
  text-align: center;
}

h2.logo {
  color: rgb(153, 106, 67);
  font-family: Allura;
  font-size: 1.6rem;
  color: white;
  font-size: 2rem;
  cursor: default;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  max-width: 60px;
}
h2.logo:hover {
  color: rgb(153, 106, 67);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header {
  background: url(../img/bg-slider-06.jpg) center/cover;
  min-height: 100vh;
}
header .header-content nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-animation: navPop 2s ease forwards;
          animation: navPop 2s ease forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@-webkit-keyframes navPop {
  to {
    opacity: 1;
  }
}
@keyframes navPop {
  to {
    opacity: 1;
  }
}
header .header-content nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
header .header-content nav li {
  cursor: pointer;
  position: relative;
}
header .header-content nav .nav-link {
  gap: 60px;
}
header .header-content nav .nav-link li {
  color: white;
  font-family: Poppins;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0;
  font-family: Roboto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 915px) {
  header .header-content nav .nav-link li {
    display: none;
  }
}
header .header-content nav .nav-link li:hover {
  color: lightcoral;
}
header .header-content nav .nav-link li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: lightcoral;
  top: -60%;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
  -webkit-animation: barSlideOut 0.3s ease forwards;
          animation: barSlideOut 0.3s ease forwards;
}
header .header-content nav .nav-link li:hover::after {
  -webkit-animation: barSlideIn 0.3s ease forwards;
          animation: barSlideIn 0.3s ease forwards;
}
@-webkit-keyframes barSlideIn {
  0% {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
}
@keyframes barSlideIn {
  0% {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
}
@-webkit-keyframes barSlideOut {
  from {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
  to {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
  }
}
@keyframes barSlideOut {
  from {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
  to {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
  }
}
header .header-content nav .header-logo {
  gap: 10px;
}
header .header-content nav .header-logo li {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .header-content nav .header-logo li:hover {
  color: rgb(153, 106, 67);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
header .header-content .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  min-height: 80vh;
}
header .header-content .header-menu p {
  color: rgb(153, 106, 67);
  font-family: Allura;
  font-size: 1.6rem;
  font-size: 1.8rem;
}
@media screen and (max-width: 915px) {
  header .header-content .header-menu p {
    font-size: 3rem;
  }
}
header .header-content .header-menu h1 {
  color: white;
  font-family: Poppins;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 2.3rem;
}
@media screen and (max-width: 915px) {
  header .header-content .header-menu h1 {
    font-size: 3.5rem;
  }
}
header .header-content .header-menu .img-container {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  padding: 10px 0;
}
header .header-content .header-menu .img-container img {
  width: 3%;
}
@media screen and (max-width: 915px) {
  header .header-content .header-menu .img-container img {
    width: 6%;
  }
}
header .header-content .header-menu h5 {
  color: white;
  font-family: Poppins;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 200;
}
@media screen and (max-width: 915px) {
  header .header-content .header-menu h5 {
    font-size: 1.5rem;
  }
}

.store {
  display: grid;
  grid-template-columns: 50% 50%;
  background: rgb(238, 238, 238);
}
@media screen and (max-width: 1070px) {
  .store {
    grid-template-columns: 100%;
  }
}
.store .store-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  background: rgb(238, 238, 238);
  color: black;
  border: rgb(153, 106, 67) dashed 1px;
  margin: 10px;
}
.store .store-left .theme p {
  color: rgb(153, 106, 67);
  font-family: Allura;
  font-size: 1.6rem;
  font-size: 1.6rem;
}
.store .store-left p {
  line-height: 30px;
  font-size: 0.9rem;
  width: 85%;
}
.store .store-left .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.store .store-left .avatar img {
  width: 40%;
  border-radius: 50px;
}
.store .store-left .avatar h6 {
  color: white;
  font-family: Poppins;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.6rem;
  color: gray;
  letter-spacing: 1px;
}
.store img.right-img {
  width: 100%;
}
@media screen and (max-width: 1070px) {
  .store img.right-img {
    display: none;
  }
}

.menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  min-height: 100vh;
}
.menu::after {
  content: "";
  position: absolute;
  height: 440px;
  width: 100%;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url(../img/bg-menu-01.jpg) center/cover;
}
.menu .menuBar .link-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
.menu .menuBar .link-menu:hover li:not(:hover) {
  opacity: 0.5;
}
.menu .menuBar .link-menu li {
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.menu .menuBar .link-menu li:hover {
  color: rgb(153, 106, 67);
}
.menu .menuBar .link-menu li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgb(238, 238, 238);
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.menu .dishes-content {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 50% 50%;
  background: rgb(238, 238, 238);
  width: 60%;
  margin: 0 auto;
  -webkit-box-shadow: 0 -5px 0 0 rgb(153, 106, 67);
          box-shadow: 0 -5px 0 0 rgb(153, 106, 67);
}
@media screen and (max-width: 1015px) {
  .menu .dishes-content {
    grid-template-columns: 100%;
  }
}
.menu .dishes-content .dishes-left,
.menu .dishes-content .dishes-right {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.menu .dishes-content .dishes-left:hover > div:not(:hover),
.menu .dishes-content .dishes-right:hover > div:not(:hover) {
  opacity: 0.5;
}
.menu .dishes-content .dishes-left > div,
.menu .dishes-content .dishes-right > div {
  position: relative;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu .dishes-content .dishes-left > div:hover .price,
.menu .dishes-content .dishes-right > div:hover .price {
  color: green;
}
.menu .dishes-content .dishes-left > div::after,
.menu .dishes-content .dishes-right > div::after {
  content: "";
  position: absolute;
  bottom: 5%;
  width: 80%;
  border-bottom: rgb(153, 106, 67) 1px dashed;
}
.menu .dishes-content .dishes-left > div h4.price,
.menu .dishes-content .dishes-right > div h4.price {
  color: rgb(153, 106, 67);
  position: absolute;
  right: 5%;
}
.menu .dishes-content .dishes-left > div img,
.menu .dishes-content .dishes-right > div img {
  position: absolute;
  width: 15%;
  border-radius: 50px;
  left: 5%;
}
.menu .dishes-content .dishes-left > div .menu-content,
.menu .dishes-content .dishes-right > div .menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}
.menu .dishes-content .dishes-left > div .menu-content h3.title-dishes,
.menu .dishes-content .dishes-right > div .menu-content h3.title-dishes {
  color: white;
  font-family: Poppins;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
  text-align: left;
}
.menu .dishes-content .dishes-left > div .menu-content p,
.menu .dishes-content .dishes-right > div .menu-content p {
  color: black;
  font-size: 0.8rem;
  text-align: left;
}

.booking {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 1050px) {
  .booking {
    grid-template-columns: 100%;
  }
}
.booking .booking-left-container {
  background: black;
}
.booking .booking-left-container .booking-left {
  padding: 10px;
  border: 1px white dashed;
  margin: 20px;
  position: relative;
}
.booking .booking-left-container .booking-left .booking-menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.booking .booking-left-container .booking-left .booking-menu-content > div p {
  font-size: 0.8rem;
}
.booking .booking-left-container .booking-left h3.booking-title {
  color: white;
  font-family: Poppins;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(153, 106, 67);
  font-size: 1rem;
  margin: 5px 0;
}
.booking .booking-left-container .booking-left h3.booking-title:last-child {
  margin-top: 10px;
}
.booking .booking-right {
  background: white;
  padding: 35px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  gap: 30px;
}
.booking .booking-right .booking-theme-right h1 {
  color: white;
  font-family: Poppins;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0;
  color: black;
}
.booking .booking-right .form-booking {
  display: grid;
  grid-template-areas: "is id ih" "in ip ie";
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 15px;
}
@media screen and (max-width: 1050px) {
  .booking .booking-right .form-booking {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .booking .booking-right .form-booking input, .booking .booking-right .form-booking select {
    width: 100%;
  }
}
.booking .booking-right .form-booking input,
.booking .booking-right .form-booking select {
  padding: 5px;
  border: none;
  border-bottom: 1px gray solid;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.booking .booking-right .form-booking input::-moz-selection, .booking .booking-right .form-booking select::-moz-selection {
  background: rgb(153, 106, 67);
  color: rgb(238, 238, 238);
}
.booking .booking-right .form-booking input::selection,
.booking .booking-right .form-booking select::selection {
  background: rgb(153, 106, 67);
  color: rgb(238, 238, 238);
}
.booking .booking-right .form-booking input:hover,
.booking .booking-right .form-booking select:hover {
  background: rgba(132, 131, 131, 0.316);
  color: green;
}
.booking .booking-right .form-booking input:hover::-webkit-input-placeholder, .booking .booking-right .form-booking select:hover::-webkit-input-placeholder {
  color: green;
}
.booking .booking-right .form-booking input:hover::-moz-placeholder, .booking .booking-right .form-booking select:hover::-moz-placeholder {
  color: green;
}
.booking .booking-right .form-booking input:hover:-ms-input-placeholder, .booking .booking-right .form-booking select:hover:-ms-input-placeholder {
  color: green;
}
.booking .booking-right .form-booking input:hover::-ms-input-placeholder, .booking .booking-right .form-booking select:hover::-ms-input-placeholder {
  color: green;
}
.booking .booking-right .form-booking input:hover::placeholder,
.booking .booking-right .form-booking select:hover::placeholder {
  color: green;
}
.booking .booking-right .form-booking input {
  font-family: Roboto;
  letter-spacing: 1px;
}
.booking .booking-right .form-booking input[type=date] {
  font-style: italic;
  text-transform: uppercase;
}
.booking .booking-right button {
  position: absolute;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%) scale(1);
          transform: translate(-50%) scale(1);
  color: white;
  font-family: Poppins;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: black;
  border-radius: 20px;
  padding: 6px 12px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 1050px) {
  .booking .booking-right button {
    position: initial;
    margin-left: 100px;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}
.booking .booking-right button:hover {
  background: rgb(33, 32, 30);
  -webkit-transform: translate(-50%) scale(1.1);
          transform: translate(-50%) scale(1.1);
}
.booking .booking-right button:active {
  -webkit-transform: translate(-50%) scale(0.9);
          transform: translate(-50%) scale(0.9);
}

.event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  min-height: 75vh;
}
@media screen and (max-width: 880px) {
  .event {
    display: none;
  }
}
.event .box-img h4,
.event .box-img p {
  font-size: 0.7rem;
}
.event .event-board {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: "c1 c3" "c2 c3";
  grid-gap: 10px;
  width: 60%;
  margin: 0 auto;
}
.event .event-board .card-img img {
  width: 30%;
}
.event .event-board .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.event .event-board .card-content h3,
.event .event-board .card-content h5.buyBtn {
  color: white;
  font-family: Poppins;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Roboto;
  color: black;
}
.event .event-board .card-content p.location {
  color: rgb(238, 238, 238);
  font-size: 0.7rem;
}
.event .event-board .board-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.event .event-board .board-left .card-left .card-img {
  position: relative;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.event .event-board .board-left .card-left .card-img .box-img {
  position: absolute;
  left: 10%;
  top: 30%;
  background: rgb(33, 32, 30);
  padding: 11px;
}
.event .event-board .board-left .card-left .card-img .card-content {
  padding: 25px 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 8px;
}
.event .board-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(../img/event-03.jpg) center/cover;
}
.event .board-right .card-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  height: 80%;
  width: 90%;
}
.event .board-right .card-container .box-img {
  position: absolute;
  background: rgb(33, 32, 30);
  padding: 7px;
  top: 0;
}
.event .board-right .card-container .card .card-content {
  gap: 3px;
}
.event .board-right .card-container .card .card-content h3 {
  width: 80%;
  line-height: 25px;
}
.event .board-right .card-container .card .card-content h5.buyBtn {
  position: absolute;
  bottom: 10%;
}

.avatar-msg {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 50vh;
}
.avatar-msg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 300px;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url(../img/gmap.jpg) center/cover;
}
.avatar-msg .avatar-container {
  position: relative;
  z-index: 2;
  background: rgb(238, 238, 238);
  width: 75%;
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.avatar-msg .avatar-container img {
  width: 6%;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  top: -8%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
@media screen and (max-width: 850px) {
  .avatar-msg .avatar-container img {
    min-width: 60px;
    min-height: 60px;
  }
}
.avatar-msg .avatar-container p,
.avatar-msg .avatar-container h3 {
  color: black;
}
@media screen and (max-width: 850px) {
  .avatar-msg .avatar-container p {
    line-height: 35px;
  }
}
.avatar-msg .avatar-container h5 {
  color: white;
  font-family: Poppins;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(153, 106, 67);
}

footer {
  margin-top: 150px;
  background: url(../img/bg-footer.jpg);
}
footer .footer-content {
  display: grid;
  grid-template-columns: 63% 37%;
  padding: 50px 5px;
}
@media screen and (max-width: 880px) {
  footer .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 25vh;
  }
}
footer .footer-content .footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  width: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 880px) {
  footer .footer-content .footer-left {
    display: none;
  }
}
footer .footer-content .footer-left h2,
footer .footer-content .footer-left p {
  text-align: left;
}
footer .footer-content .footer-left p {
  color: gray;
  line-height: 30px;
}
footer .footer-right {
  position: relative;
}
@media screen and (max-width: 880px) {
  footer .footer-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}
footer .footer-right .newsletter {
  position: absolute;
  top: 10%;
  left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 13px;
}
@media screen and (max-width: 880px) {
  footer .footer-right .newsletter {
    position: initial;
  }
}
footer .footer-right .newsletter label {
  color: white;
  font-family: Poppins;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 500;
  font-size: 1.1rem;
}
footer .footer-right .newsletter input[type=email] {
  background: none;
  border: 1px rgb(153, 106, 67) solid;
  padding: 8px 18px;
}
footer .footer-contact {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 5%;
  left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 880px) {
  footer .footer-contact {
    position: initial;
  }
}
footer .footer-contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}
footer .footer-contact ul li {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
footer .footer-contact ul li:hover {
  color: gray;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
footer .footer-contact ul li:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}/*# sourceMappingURL=index.css.map */